ApprovalChr_20231120125822/Microsoft.Flow/flows/c26c6242-cc8e-4a74-9ef3-04f15f6048ec/definition.json
{"name":"9d13ad7e-5902-4ea4-9c03-713282dfa035","id":"/providers/Microsoft.Flow/flows/9d13ad7e-5902-4ea4-9c03-713282dfa035","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ApprovalChr - 2","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"58bd4366-f5b7-44c5-9b71-39b22612f758","type":"User","tenantId":"dbc18d56-27a0-415e-9cc3-d9c324df1011"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-11-15T18:38:33.156849Z","connectionKeySavedTimeKey":"2023-11-15T18:38:33.156849Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://2v0pt3.sharepoint.com/sites/Appinaday-RepairTracker","table":"fb713558-e258-475c-85c6-e58222a76fb6"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"For_each":{"foreach":"@triggerOutputs()?['body/value']","actions":{"Start_and_wait_for_an_approval":{"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Repair Request Approval","WebhookApprovalCreationInput/assignedTo":"@item()?['Approvermail']","WebhookApprovalCreationInput/details":"Employee @{item()?['field_1']}\nType of Request: @{item()?['field_2']?['Value']}\nRequest Date: @{item()?['field_8']}\nComments: @{item()?['field_4']}","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Condition":{"actions":{"For_each_1":{"foreach":"@triggerOutputs()?['body/value']","actions":{"Update_item":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://2v0pt3.sharepoint.com/sites/Appinaday-RepairTracker","table":"fb713558-e258-475c-85c6-e58222a76fb6","id":"@item()?['ID']","item/field_9/Value":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"type":"Foreach"},"For_each_3":{"foreach":"@triggerOutputs()?['body/value']","actions":{"Send_an_email_(V2)":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@item()?['Author']?['Email']","emailMessage/Subject":"Your Request is Approved","emailMessage/Body":"<p>Approver:@{body('Update_item')?['field_6']}</p><p>Type of Request:@{body('Update_item')?['field_2']?['Value']}</p><p>Request Date:@{body('Update_item')?['field_8']}</p><p>Comments:@{body('Update_item')?['field_4']}</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"For_each_1":["Succeeded"]},"type":"Foreach"}},"runAfter":{"For_each":["Succeeded"]},"else":{"actions":{"For_each_2":{"foreach":"@triggerOutputs()?['body/value']","actions":{"Update_item_1":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://2v0pt3.sharepoint.com/sites/Appinaday-RepairTracker","table":"fb713558-e258-475c-85c6-e58222a76fb6","id":"@item()?['ID']","item/field_9/Value":"Rejected"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"type":"Foreach"},"For_each_4":{"foreach":"@triggerOutputs()?['body/value']","actions":{"Send_an_email_(V2)_1":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@item()?['Author']?['Email']","emailMessage/Subject":"Reject repair request","emailMessage/Body":"<p>Your request is been rejected</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"For_each_2":["Succeeded"]},"type":"Foreach"}}},"expression":{"and":[{"equals":["@body('Start_and_wait_for_an_approval')?['outcome']","Approve"]}]},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"3bf229761e914e039d02715cbf6b098b","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-1b419973-f8ce-4ce0-b538-86d025612c30","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-be9d5a73-f595-42ba-b87d-67ae9f988386","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}